:root {
  font-family: "Heebo", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color-500:#8A42DB;
  --primary-color-400:#9955E8;
  --secondary-color:#7DFFAF;
  --surface-background:#171023;
  --surface-primary:#2C243B;
  --surface-secondary:#413A4F;
  --surface-tertiary:#4E4563;
  --text-primary:#F5F6F6;
  --text-secondary:#CDD0D4;

}


html{
    font-size: 62.5%; 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100dvh;
  background-color: var(--surface-background);
  color: var(--text-primary);
  position: relative;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 600;

}
h2 {
  font-family: "Heebo", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}
p{
  font-family: "Heebo", sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: var(--text-primary);
}
a:active{
  font-weight: bold;
}